extends layout

block content
    h1 Play Time 4 Trivia!
    //- button Go
    form(action='/g/play', method='post')
        h3 #{questions.question}
        p #{questions.correctAnswer}
        p #{questions.incorrectAnswer0}
        p #{questions.incorrectAnswer1}
        p #{questions.incorrectAnswer2}
        input(type='submit', value='Submit Question')
    //- h4(id='correctOrIncorrect')