extends layout

block content
    h1 Time 4 Trivia!
    form(action='/g/play', method='post')
        h3 #{questions.question}
        select(name="answerChoices" id="answerChoices") 
            option(value="") Select Answer
            option(value="answers[3]") #{answers[3]}
            option(value="answers[0]") #{answers[0]}
            option(value="answers[1]") #{answers[1]}
            option(value="answers[2]") #{answers[2]}
        input(type='submit', value='Submit Question')
        h4(id='response')