extends layout

block content
  form(action='')
    h1 Users
    each user in users 
      div(class='userBox')
        h3 Username: #{user.username}
        p This user is currently: #{user.account_locked}
          label Account Status: 
            select(type="text" name="accountStatus", id='')
              each val in ["enabled","disabled"]
                  option=val
          label Delete User: 
          input(type='checkbox' name='accountDelete' checked=false)
          
          h3 Roles
          ul
            each role in user.roles 
              li= role
          input(type='submit')